






.Font04_EthnicGroup-Explain-Title{
        text-align: Left;
		line-height:10px;
		
        color : black;
		font-family:宋体,Arial;
		font-size: 20px;
		
		text-indent:0px;
		
		word-wrap:break-word;
		word-break:hyphenate;
		
		font-weight:900; 
		font-style:normal;
		
	}/*EthnicGroup-PIC-Explain*/
